.footer {
  display: flex;
  justify-content: space-between;
  padding: 80px 2px 24px 0;
}

.footer__text {
  margin: 0;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
